body {
    margin: 0 auto;
    background: url("../images/login.jpg") no-repeat;
    background-size: 100%;
}

.container {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 150px auto 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input {
    height: 30px;
    width: 250px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    padding-left: 30px;
}

.form-username {
    background: #FFFFFF url("/resources/images/account-user.png") no-repeat scroll 1px 1px;
}

.form-password {
    background: #FFFFFF url("/resources/images/account-password.png") no-repeat scroll 1px 1px;
}