.main {
    width: 1080px;
    margin: 0 auto;
}

.header {
    background: #0E6BCC;
    height: 90px;
    padding-left: 10px;
    padding-top: 10px;
}

.footer {
    clear: both;
    height: 90px;
    background: #0E6BCC;
    padding-left: 10px;
    padding-top: 10px;
}

.content {
    width: 860px;
    float: right;
    height: 770px;
    background: #EEE;
    padding-left: 10px;
    padding-top: 10px;
}

.sidebar {
    width: 200px;
    float: left;
    height: 770px;
    background: #605E61;
    padding-left: 10px;
    padding-top: 10px;
}