<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DMS Application</title>
    <link href="../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="header">Header</div>
    <div class="content">Content</div>
    <div class="sidebar">
        Sidebar <br>
        Current User: <b th:text="${currentUser}"></b>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <div class="footer">Footer</div>
</div>
</body>
</html>