<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:tiles="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In DMS App</title>
    <link href="../../css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" tiles:fragment="content">
    <img src="../../img/user-group.png">
    <form id="login" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username or password
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out
        </div>
        <div class="form-input">
            <input type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="form-input">
            <input type="password" name="password" placeholder="Enter Password">
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</div>

</body>
</html>